@model IEnumerable<Gift4U.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>הזמנות</h1>

@*<p>
        <a asp-action="Create">Create New</a>
 </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                סכום
            </th>
            <th>
                למי?
            </th>
            <th>
                ברכה ממני
            </th>
            <th>
                תאריך תחילת תוקף
            </th>
            <th>
                תאריך סיום תוקף
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bless)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a style="color:deeppink" asp-action="Details" asp-route-id="@item.Id">לפרטי הזמנה</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
