@model IEnumerable<Gift4U.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                שם מבצע
            </th>
            <th>
                אחוזים
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                <a style="color:deeppink" asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                <a style="color:deeppink" asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                <a style="color:deeppink" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
            </td>
        </tr>
}
    </tbody>
</table>
