@model Gift4U.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>פרטים אישיים</h1>

<div>
    <h4>איזה כיף לנו שאתה כאן :)</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
           סיסמא:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            שם פרטי:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
           שם משפחה:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            סוג:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            טלפון:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
</div>
<div>
    <a style="color:deeppink" asp-action="Edit" asp-route-id="@Model.UserName">עריכת פרטים</a> |
    @*<a asp-action="Index">Back to List</a>*@
</div>
